# Basic .gitattributes for a R repo.

# Source files
# ============
*.Rdata binary
*.RData binary
*.rda   binary
*.rdb   binary
*.rds   binary
*.Rd    text
*.Rdx   binary
*.Rmd	  text
*.R  	  text
*.Rproj text


# only consider R files for purposes of listing
# repository language in GitHub

* linguist-vendored
*.R linguist-vendored=false